source/NTasker.Core/bin/
source/NTasker.Core/obj/
*.suo
source/NTasker.Core.Tests/obj/
source/NTasker.Core.Tests/bin/
source/NTasker/obj/
source/NTasker/bin/
source/NTasker.Tests/obj/
source/NTasker.Tests/bin/
